<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.transistorsoft.fetch</string>
		</array>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Surlo Staging</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.surlo.surloapp.staging</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>surlo</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false />
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>MBXAccessToken</key>
		<string>pk.-</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Surlo a besoin d&apos;accéder à vos photos pour sélectionner une image de profil.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>La géolocalisation est nécessaire pour enregistrer tes sessions et afficher les
			défis à proximité. Pour éviter toute coupure dans l&apos;enregistrement, il est
			nécessaire de toujours autoriser la géolocalisation même en arrière-plan.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Pour éviter toute coupure dans l&apos;enregistrement, il est nécessaire de toujours
			autoriser la géolocalisation même en arrière-plan.</string>
		<key>NSLocationTemporaryUsageDescriptionDictionary</key>
		<dict>
			<key>SurloTracking</key>
			<string>La géolocalisation précise est nécessaire pour augmenter la qualité de tes
				sessions.</string>
		</dict>
		<key>NSLocationUsageDescription</key>
		<string>La géolocalisation est nécessaire pour enregistrer tes sessions et afficher les
			défis à proximité.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>La géolocalisation est nécessaire pour enregistrer tes sessions et afficher les
			défis à proximité.</string>
		<key>NSMotionUsageDescription</key>
		<string>Les mouvements de l&apos;appareil aident l&apos;application à optimiser la
			géolocalisation et réduire sa consommation.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Surlo a besoin d&apos;accéder à vos photos pour sélectionner une image de profil.</string>
		<key>NSHealthShareUsageDescription</key>
		<string>Surlo a besoin d&apos;accéder à vos données de santé</string>
		<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
		<string>Surlo a besoin de lire et d&apos;écrire dans vos données de santé</string>
		<key>NSHealthUpdateUsageDescription</key>
		<string>Surlo a besoin d&apos;accéder à vos données de santé</string>
		<key>UIAppFonts</key>
		<array>
			<string>FuturaNext-Bold.otf</string>
			<string>FuturaNext-Book.otf</string>
			<string>FuturaNext-BookOblique.otf</string>
			<string>FuturaNext-DemiBold.otf</string>
			<string>FuturaNext-DemiBoldOblique.otf</string>
			<string>FuturaNext-ExtraBold.otf</string>
			<string>FuturaNext-ExtraBoldOblique.otf</string>
			<string>FuturaNext-Light.otf</string>
			<string>FuturaNext-LightOblique.otf</string>
			<string>FuturaNext-Medium.otf</string>
			<string>FuturaNext-MediumOblique.otf</string>
			<string>FuturaNext-BoldOblique.otf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>location</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>branch_key</key>
		<dict>
			<key>live</key>
			<string>-</string>
			<key>test</key>
			<string>-</string>
		</dict>
		<key>branch_universal_link_domains</key>
		<array>
			<string>surlo.app.link</string>
			<string>surlo-alternate.app.link</string>
		</array>
	</dict>
</plist>